<launch>
  <arg name="dev" default="/dev/input/js0"/>
  <arg name="rate" default="30"/>
  <node pkg="joy" type="joy_node" name="joy_node">
    <param name="dev" value="$(arg dev)"/>
    <param name="coalesce_interval" value="$(eval 1.0/rate)" type="double"/>
  </node>
  <node name="spotmicro_teleop" type="gamepad" pkg="spotmicro_teleop" output="screen">
    <rosparam>
    limits:
      vel_x: 0.025
      vel_y: 0.02
      vel_angular: 0.15
      pose_dz: 0.002
      pose_z_min: 0.12
      pose_z_max: 0.19
      pose_r: 0.2
      pose_p: 0.2
      pose_y: 0.3
    </rosparam>
  </node>
</launch>