<launch>
  <arg name="update_rate" default="30"/>

  <param name="use_sim_time" value="false"/>
  <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find spotmicro)/urdf/spotmicro.xacro'" /> 

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
  respawn="false" output="screen">
    <param name="publish_frequency" value="$(arg update_rate)"/>
  </node>

  <node name="rvis" type="rviz" pkg="rviz" args=" -d $(find spotmicro)/rviz/config_servo.rviz" required="true" />

  <rosparam file="$(find spotmicro)/config/config_servo.yaml" command="load"/>
  <rosparam file="$(find spotmicro)/config/leg_joints.yaml" command="load" ns="joint_hw/joints"/>
  <rosparam file="$(find spotmicro)/config/leg_joints.yaml" command="load" ns="joint_position_controller/joints"/>
  <param name="joint_state_controller/publish_rate" value="$(arg update_rate)" />

  <rosparam file="$(find spotmicro)/config/servo_config.yaml" command="load" ns="servo_pwm_controller/servo_config"/>
  <rosparam file="$(find spotmicro)/config/leg_joint_limits.yaml" command="load" ns="joint_limits"/>
  <node name="hw_manager" pkg="hardware_manager" type="combined_hw_manager" output="screen" >	  
    <remap from="servo_pwm_controller/servo_pwm" to="/servo_pwm" />
  </node>
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen"  
    args="joint_position_controller joint_state_controller servo_pwm_controller"/>

  <node name="config_servo_gui" type="config_servo_gui.py" pkg="motion_control"/>

  <include file="$(find spotmicro)/launch/pi.launch"/>

</launch>