<launch>
<arg name="update_rate"/>
<arg name="gait"/>
  
  <param name="joint_state_controller/publish_rate" value="$(arg update_rate)" />

  <rosparam file="$(find spotmicro)/config/motion_hw.yaml" command="load"/>
  <rosparam file="$(find spotmicro)/config/motion_controllers.yaml" command="load"/>
  <rosparam file="$(find spotmicro)/config/servo_config.yaml" command="load" ns="servo_pwm_controller/servo_config"/>
  
  <node name="hw_manager" pkg="hardware_manager" type="combined_hw_manager" output="screen" >
	  <remap from="hw_manager/cmd_vel" to="cmd_vel" />
	  <remap from="hw_manager/cmd_pose" to="cmd_pose" />
    <remap from="servo_pwm_controller/servo_pwm" to="servo_pwm" />
  </node>
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen"  
    args="$(arg gait) joint_state_controller servo_pwm_controller"/>

</launch>